@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "react-calendar-heatmap/dist/styles.css";

.App {
  text-align: center;
}

.color-github-0 {
  fill: red !important;
}

.color-github-1 {
  fill: red !important;
  opacity: 0.5;
}